[flake8]
# For error codes, see this https://flake8.pycqa.org/en/latest/user/error-codes.html

# Allow some leeway with black
max-line-length = 110

per-file-ignores =
    **/__init__.py: F401, F403
    # E501: Give examples and tests the space they need,
    # B008: Allow function calls as function parameter defaults for examples,
    # S101: Pytest uses assert for testing.
    examples/*.py: E501, B008
    tests/*.py: E501, B008, S101

accept-encodings = utf-8
docstring-convention = numpy
