[flake8]
# For error codes, see this https://flake8.pycqa.org/en/latest/user/error-codes.html

# Allow some leeway with black
max-line-length = 110

per-file-ignores =
    **/__init__.py: F401, F403
    # Give examples the space they need
    examples/*.py: E501

accept-encodings = utf-8
docstring-convention = numpy